.image {
  width: 100px;
  height: 150px;
}

.title {
  text-align: center;
  max-width: 100px;
  margin-top: 5px;
}

.card-container {
  display: flex;
  align-items: baseline;
  overflow-x: scroll;
  max-height: 210px;
  overflow-y: hidden;
}

.card{
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  max-height: 210px;
  cursor: pointer;
}

.more {
  align-self: center;
}

.arrow {
  height: 55px;
  width: 100px;
}

