<ion-header>
  <ion-toolbar>
    <ion-title>movie-details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="movie">
<!--<iframe [src]="video" frameborder="0" allowfullscreen class="video"></iframe>-->
  <div class="flex-div">
    <ion-img *ngIf="movie.backdrop_path" src="https://image.tmdb.org/t/p/original/{{movie.backdrop_path}}" onerror="this.src='assets/images/noImage.jpeg'" class="image"></ion-img>
    <p class="title">{{movie.title}}</p>
    <p class="subtitle">{{movie.tagline}}</p>
  </div>
  <div padding class="main-content">
    <p class="about"><span class="heading">About:</span><br> {{movie.overview}}</p>
    <div class="info">
      <div>
        <p><span>Runtime: {{movie.runtime}} min.</span></p>
        <p class="userRating" (click)="presentModal()" *ngIf="currentUserRating">Your Rating: {{currentUserRating}}</p>
      </div>
      <div>
        <div [ngClass]="{'over50': movie.vote_average * 10 > 50}" class="progress-circle  p{{movie.vote_average * 10}}">
          <span>{{movie.vote_average * 10}}%</span>
          <div class="left-half-clipper">
            <div class="first50-bar"></div>
            <div class="value-bar"></div>
          </div>
        </div>
        <p class="rating">Average User Rating</p>
      </div>
    </div>
    <div class="buttons" *ngIf="authenticated" >
      <ion-button color="primary" (click)="presentModal()" *ngIf="!watched">I've seen this movie</ion-button>
      <ion-button color="primary" (click)="addToSee()" *ngIf="!watchList && !watched">Add to watch list</ion-button>
    </div>
  </div>
</ion-content>
