.image {
  max-width: 100px;
}

.title {
  text-align: center;
  max-width: 100px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
}

.card{
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 200px;
}

.button-div{
  display: flex;
  flex-direction: row;
  justify-content: center; 
  padding-bottom: .5em;
}

.button-div > div {
  padding-right: 1em;
  padding-left: 1em;
}

.pages {
  color: #757575;
}

 