<ion-header>
  <ion-toolbar>
    <ion-title>Movies I've Seen</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar placeholder="Search My List" [(ngModel)]="filterText"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="movies$ | async as movies">
    <ion-item-sliding *ngFor="let movie of movies | filter : filterText" #slidingItem>
      <ion-item-options side="start">
        <button color="danger" (click)="recommend(slidingItem, movie.movieID, movie.title)"><ion-icon slot="start" [name]="'megaphone'"></ion-icon> Get Recommendations</button>
      </ion-item-options>
      <ion-item class="hover" (click)="goToMovie(movie.movieID)">
        <ion-thumbnail slot="start" >
          <img [src]="movie.pic ? 'https://image.tmdb.org/t/p/w500/' + movie.pic  : 'assets/images/noImage.jpeg'" alt="">
        </ion-thumbnail>
        <div>
          <ion-label text-wrap class="title">{{ movie.title }}</ion-label>
          <ion-label color="tertiary" class="row" >
            <p *ngFor="let genre of movie.genres">{{ genre.name }}</p>
          </ion-label>
        </div>
      </ion-item>
      <ion-item-options side="end">
        <button color="danger" (click)="removeItem(slidingItem, movie.movieID)"><ion-icon slot="start" [name]="'trash'"></ion-icon> Remove from List</button>
      </ion-item-options>

    </ion-item-sliding>
  </ion-list>
</ion-content>
