ion-header {
  margin-top: 56px;
}
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
p {
  margin-right: 1em;
}
.title {
  font-weight: bold;
  font-size: 1.25em;
}
.hover:hover {
    cursor: pointer;
}