<ion-header>
  <ion-toolbar>
    <ion-title>related</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <div class="card-container" *ngIf="(related$ | async)?.results.length; else notFound">
    <div class="card" *ngFor="let relate of (related$ | async)?.results" (click)="goToMovie(relate.id)">
      <ion-img src='https://image.tmdb.org/t/p/w500/{{relate.poster_path}}' class="image"></ion-img>
      <p class="title">{{relate.title}}</p>
    </div>
  </div>
  <ng-template #notFound>
    <div  class="notFound">
     <h1> We could not find any related movies. </h1>
    </div>
  </ng-template> 
</ion-content>
