<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>My Movies List</ion-title>
  </ion-toolbar>
  <!--<ion-toolbar>-->
    <!--<ion-searchbar></ion-searchbar>-->
  <!--</ion-toolbar>-->
</ion-header>

<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="seen">
      <ion-icon name="list"></ion-icon>
      <ion-label>Movies I've seen</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="to-see">
      <ion-icon name="film"></ion-icon>
      <ion-label>Movies I want to see</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
