<ion-header>
  <ion-toolbar color="danger" class="toolbar">
    <ion-buttons slot="start">

    </ion-buttons>
    <ion-title>{{ displayUserName }} Movies List</ion-title>
  </ion-toolbar>
  <!--<ion-toolbar>-->
  <!--<ion-searchbar></ion-searchbar>-->
  <!--</ion-toolbar>-->
</ion-header>

<ion-tabs color="dark">
  <ion-tab-bar slot="bottom" color="dark">
    <ion-tab-button tab="seen">
      <ion-icon name="list"></ion-icon>
      <ion-label>Movies I've seen</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="to-see">
      <ion-icon name="film"></ion-icon>
      <ion-label>Movies I want to see</ion-label>
    </ion-tab-button>
    <!--<ion-tab-button tab="to-see">-->
    <!--<ion-icon name="film"></ion-icon>-->
    <!--<ion-label>Recommendations</ion-label>-->
    <!--</ion-tab-button>-->
  </ion-tab-bar>
</ion-tabs>