<ion-header>
  <ion-toolbar>
    <ion-title>videos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding color="dark">


  <div *ngIf="video?.length > 0; else notFound">
    <ion-card *ngFor="let videoUrl of video" color="tertiary">
      <ion-card-content>
        <iframe [src]="videoUrl.safeURL" frameborder="0" allowfullscreen class="video"></iframe>
      </ion-card-content>
    </ion-card>
  </div>
  <ng-template #notFound>
    <div class="notFound">
      <h1> We could not find any trailers for this movie. </h1>
    </div>
  </ng-template>

</ion-content>
