<ion-header>
  <ion-toolbar>
    <ion-title>Movies I want to See</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list *ngIf="movie$ | async as movies">
    <ion-item-sliding *ngFor="let movie of movies" #slidingItem>
      <ion-item (click)="goToMovie(movie.movieID)">
        <ion-thumbnail>
          <img src="https://image.tmdb.org/t/p/w500/{{movie.pic}}" alt="">
        </ion-thumbnail>
        <div>
          <ion-label text-wrap class="title">{{ movie.title }}</ion-label>
          <ion-label color="tertiary" class="row" >
            <p *ngFor="let genre of movie.genres">{{ genre.name }}</p>
          </ion-label>
        </div>
      </ion-item>
      <ion-item-options>
        <button color="danger" (click)="removeItem(slidingItem, movie.movieID)"><ion-icon slot="start" [name]="'trash'"></ion-icon> Remove from List</button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
