<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Search</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar placeholder="Search Movies"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item [routerDirection]="'forward'" [routerLink]="['/details', 1]">
      <ion-title>Title of Movie</ion-title>
    </ion-item>
    <ion-item>
      <ion-title>Title of Movie</ion-title>
    </ion-item>
    <ion-item>
      <ion-title>Title of Movie</ion-title>
    </ion-item>
    <ion-item>
      <ion-title>Title of Movie</ion-title>
    </ion-item>
    <ion-item>
      <ion-title>Title of Movie</ion-title>
    </ion-item>
  </ion-list>
</ion-content>
