.inputDiv{
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: .5em;
  background-color: #f3f6f7;
}

.inputDiv ion-input{
  width: 100%;
}

.scrollable{
  width: 100%;
  height: 70%;
  overflow-y: scroll;
}

.commentWithRating{
  display: flex;
  justify-content: space-between;
}
.commentControls{
  display: flex;
  flex-direction: column;
}
.highlightedComment {
  background-color: #0cd1e8;
  padding: 5px;
  border-radius: 7px;
}
.yesRating {
  display: flex;
  justify-content: space-between;
  padding: 0 16px;
  margin: 5px 0;
}
.noRating{
  @extend .yesRating;
}