<ion-header>
  <ion-toolbar>
    <ion-title>comments</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="scrollable">
    <ion-list *ngIf="movieComments | async as comments">
      <ion-item *ngFor="let comment of comments">
        <ion-label *ngIf="comment.userID === userID" class="commentWithRating highlightedComment"><span class="highlightedComment" text-wrap>{{ comment.comment}}</span><span class="highlightedComment" *ngIf="comment.rating">Rating: {{comment.rating}}</span></ion-label>
        <ion-label *ngIf="comment.userID !== userID" class="commentWithRating"><span text-wrap>{{ comment.comment}}</span><span *ngIf="comment.rating">Rating: {{comment.rating}}</span></ion-label>
      </ion-item>
    </ion-list>
  </div>
  <div *ngIf="authenticated" class="inputDiv">
    <ion-textarea maxlength=300 placeholder="Enter Comment Here..." [ngModel]="userComment" #input></ion-textarea>
    <div class="commentControls">
      <ion-button slot="end" color="primary" (click)="postComment(input)">{{ userComment ? 'Edit' : 'Post' }}</ion-button>
      <ion-button color="secondary" (click)="deleteComment()">Delete</ion-button>
    </div>
  </div>

</ion-content>
