<ion-header>
  <ion-toolbar>
    <ion-title>comments</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="scrollable">
    <ion-list *ngIf="movieComments | async as comments">
      <ion-item *ngFor="let comment of comments">
        <ion-label text-wrap>{{ comment.comment}}</ion-label>
      </ion-item>
    </ion-list>
  </div>
  <div class="inputDiv">
    <ion-textarea placeholder="Enter Comment Here..." [ngModel]="userComment" #input></ion-textarea>
    <ion-button color="primary" (click)="postComment(input)">Comment</ion-button>
  </div>

</ion-content>
